EmbeddingModel/
/test/
.env
experiment/test_dataset/*
experiment/train_dataset/*
experiment/train_dataset_rearrange/*
*.pyc
dataset_multi_vendor_config/Json_config
dataset_multi_vendor_config/config_data_400
dataset_multi_vendor_config/config_data_800
dataset_multi_vendor_config/config_data_1200
dataset_multi_vendor_config/config_data_2000
dataset_multi_vendor_config/config_data_2800
dataset_multi_vendor_config/config_command_node/all_data_2000
dataset_multi_vendor_config/config_model/all_data
dataset_multi_vendor_config/config_model/all_data_2000
dataset_multi_vendor_config/config_model/different_scale
dataset_multi_vendor_config/config_model/scale388en
dataset_multi_vendor_config/config_model/verified_data
dataset_multi_vendor_config/mapping_template_library/all_data
dataset_multi_vendor_config/mapping_template_library/all_data_2000
dataset_multi_vendor_config/mapping_template_library/different_scale
dataset_multi_vendor_config/mapping_template_library/different_topk
dataset_multi_vendor_config/mapping_template_library/error_mapping_back
dataset_multi_vendor_config/mapping_template_library/verified_data
experiment/
syntactic_check/

