tqdm~=4.67.1
langchain~=0.3.20
numpy~=1.26.4
scikit-learn~=1.6.1
openai~=1.76.0
httpx~=0.28.1
requests~=2.32.3
torch~=2.6.0+cu118
langchain-community~=0.3.19
uvicorn~=0.34.0
fastapi~=0.115.11
pydantic~=2.10.6
matplotlib~=3.10.1
nltk~=3.9.1
transformers~=4.49.0
pandas~=2.2.3
argostranslate~=1.9.6
sentence-transformers~=3.4.1
