set system host-name UPE

# MPLS/LDP Configuration
set protocols mpls interface ge-1/0/1.0
set protocols mpls interface lo0.0
set protocols ldp interface ge-1/0/1.0
set protocols ldp interface lo0.0
set protocols ldp transport-address 1.1.1.1
set protocols ldp targeted-hello accept

# Interface Configurations
set interfaces lo0 unit 0 family inet address 1.1.1.1/32

# L2 Interface Configuration
set interfaces ge-1/0/0 flexible-vlan-tagging
set interfaces ge-1/0/0 unit 0 family ethernet-switching interface-mode trunk
set interfaces ge-1/0/0 unit 1 vlan-id 10
set interfaces ge-1/0/0 unit 1 family ethernet-switching

# VSI Configuration
set routing-instances vsi1 instance-type virtual-switch
set routing-instances vsi1 interface ge-1/0/0.1

# L3 Interface Configuration
set interfaces ge-1/0/1 unit 0 family inet address 172.16.1.2/24
set interfaces ge-1/0/1 unit 0 family mpls

# OSPF Configuration
set protocols ospf area 0.0.0.0 interface lo0.0
set protocols ospf area 0.0.0.0 interface ge-1/0/1.0
set routing-options router-id 1.1.1.1

# Targeted LDP Configuration
set protocols ldp session 2.2.2.2 targeted